

mat-toolbar header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 60px 20px 15px;
}



mat-toolbar{
  background-color: #067cff !important;
  height: auto;
}

.dashboard-container{
    padding: 20px;
}
.tag-list-table{
  margin: 0;
  padding: 0;
}

table {
    width: 95%;
    margin: 25px auto;
    overflow: hidden;
}

.load-btn{
    width: 95%;
    margin: auto;
    border-radius: 4px;
    border: solid 1px #eeeeee;
    background-color: #f6f6f6;
    margin-bottom: 30px;
    text-align: center;
}
.load-btn button{
    width: 100%;
}

.more-act{
  color: #a0a5ad;
}

  table th,td,tr{
    border: 1px solid #f4f5f9;
    /* padding: 10px; */
    /* text-align: center; */
  }


  th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    padding: 15px;
  }
  td.mat-cell span{
    /*font-family: TTHoves;*/
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
  }

  .w-50{
    width: 50px;
    text-align: center;
  }


  th.mat-header-cell {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
}

  ::ng-deep * .mat-form-field-wrapper {
  padding-bottom: 0em !important;
}
  mat-form-field{
    width: 100%;
  }


  .mat-row:nth-child(even){
    background-color: #f8f9fc;;
    }

    .mat-elevation-z8{
        box-shadow: none !important;
        border: 1px solid #eee;
    }

     ::ng-deep * .mat-drawer-container {
        background-color: #fff;
    }

    .media_image img{
      width: 50px;
      padding-right: 10px;
    }


th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
   padding-right: 15px;
}

.new-tag-btn .mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab{
      color: #067cff !important;
      padding: 5px 15px !important;
}

.more-act.mat-button{
  min-width: 50px !important;
}

.tag-name-cell{
  display: flex;
  align-items: center;
}

.more-act{
  padding: 0 !important;
}
.mat-menu-item{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #565b60;
}

.mat-menu-item:hover{
  background-color: #067cff !important;
  color: #fff !important;
}
::ng-deep* .mat-menu-content:not(:empty) {
   padding: 0 !important;
}

