<div class="login-container">
  <div class="rectangle">
    <div class="left-triangles">
					<div class="inner-triangle"></div>
					<div class="triangle-left"></div>
			</div>
			<div class="triangle-right"></div>
  </div>

  <div class="form-side"> 
    <div class="circle">
      <div class="nested-circle"></div>
    </div>

    <div class="header-welcome">
      <p>Welcome to Fooderos</p>
    </div>

    <div class="phone-number-ph">Please enter your phone number and Log in</div>


    <form action="" [formGroup]="phoneNumberGroup" #form >
      <div class="adding-phone-number">
        <div class="pre-phone">
          <mat-form-field appearance="outline" class="mat-form-fiel_1">
            <mat-label>Code</mat-label>
            <mat-select formControlName="country_id">
              <mat-option *ngFor="let country of countries" [value]='country.id' >
                {{ country.phone_code }} 
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="full-num">
          <mat-form-field appearance="outline" class="mat-form-fiel_2">
            <mat-label> Phone number </mat-label>
            <!--  if happens any proble in input then #phoneNumber -->
            <input matInput placeholder="Phone Number"   formControlName="phone" 
            [pattern]="mobNumberPattern"
            />
          </mat-form-field>
          <!-- [pattern]="mobNumberPattern" -->
        </div>
      </div>
  
      <button
        class="login-btn"
        (click)="getPhoneNumber(); loginProcess()"
        
      >
        Log In
      </button>

      <div class="recaptcha">
        <re-captcha (resolved)="resolved($event)"
        formControlName="recaptchaReactive" 
        siteKey="6LfZxt8ZAAAAAOjcvszytjsGaDOxof80A9uOI-7N"
        >  
          </re-captcha>
      </div>
    </form>

    




    <div class="terms-and-conditions">
      By signing in you agree <span class="special"><a href="/">Terms and Conditions</a></span>
    </div>
  </div>
</div>
